target/*
project/target/*
project/**/target/*
logs
project/project
project/target
repository
target
workspace
framework
tmp
.history
dist
.idea
/*.iml
/out
.idea_modules
documentation
RUNNING_PID
.DS_Store
bin
.classpath
.project
.settings
.target
.cache